.title-block{
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/img/bg.jpg");
    height: 160px;
  }
  
  .title-block .heading{
    font-size: 35px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Arial Black"
  }