<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{note.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title-block">
    <div class="heading">{{note.title}}</div>
  </div>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-subtitle>{{note.createdAt | date: 'short'}}</ion-card-subtitle>
      <ion-card-title>{{note.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p align="justify">{{note.content}}</p>
      <br>
      <ion-button slot="start" color="warning" [routerLink]="'/update-note/' + note.id">Edit</ion-button>
      <ion-button slot="end" color="danger" (click)="deleteNote()">Delete</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
