<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Developers</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-segment [(ngModel)]="selectedView">
    <ion-segment-button value="devs">
      <ion-label>Poultry</ion-label>
    </ion-segment-button>
    <ion-segment-button value="products">
      <ion-label>Consumption</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'devs'">
      <ion-item>
        <ion-label position="stacked">What\'s your name?</ion-label>
        <ion-input [(ngModel)]="poult.poultryName" placeholder="Poultry Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">What are your special skills (comma separated)?</ion-label>
        <ion-input [(ngModel)]="poult.poultryType" placeholder="Special Skills"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Your image URL</ion-label>
        <ion-input [(ngModel)]="poult.poultryCount" placeholder="https://..."></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addPoultry()">Add Developer Info</ion-button>
 
      <ion-list>
        <ion-item button *ngFor="let dev of poultry" [routerLink]="['/', 'poultry', dev.poultryId]">
          <ion-avatar slot="start">
            <img [src]="dev.img">
          </ion-avatar>
          <ion-label>
            <h2>{{ dev.poultryName }}</h2>
            <p>{{ dev.poultryCount }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
 
    <div *ngSwitchCase="'products'">
      <ion-item>
        <ion-label position="stacked">Product name</ion-label>
        <ion-input [(ngModel)]="consump.consumptionPoultry" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Creator?</ion-label>
        <ion-select [(ngModel)]="consump.consumptionAmount">
          <ion-select-option *ngFor="let dev of poultry" [value]="dev.poultryId">{{ dev.poutryName }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="addProduct()">Add Product</ion-button>
 
      <ion-list>
        <ion-item *ngFor="let cons of consumption | async">
          <ion-label>
            <h2>{{ con.consumptionPoultry }}</h2>
            <p>Created by: {{ cons.consumptionPoultry }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
 
</ion-content>