<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add New Poultry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-input placeholder="Enter Poultry Title" [(ngModel)]="note.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Poultry Type</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="note.poultry">
      <ion-select-option value="b">Broiler</ion-select-option>
      <ion-select-option value="l">Layer</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Enter Poultry Count" [(ngModel)]="note.count"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea rows="6" [(ngModel)]="note.content" placeholder="Enter more information here..."></ion-textarea>
  </ion-item>
</ion-list>
  <ion-button color="primary" expand="full" (click)="addNote()">Create</ion-button>
</ion-content>
