<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="Poutry"></ion-back-button>
    </ion-buttons>
    <ion-title>Poutry</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div *ngIf="poult">
    <ion-item>
      <ion-label position="stacked">What\'s your name?</ion-label>
      <ion-input [(ngModel)]="poult.poultryName" placeholder="Poultry Name"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="updatePoultry()">Update Poultry Info</ion-button>
  </div>
</ion-content>
