<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" value="poultry">
    
      <ion-segment-button value="poultry">
        Poultry
      </ion-segment-button>
      <ion-segment-button value="stats">
        Stats
      </ion-segment-button>
      <ion-segment-button value="calendar">
        Calendar
      </ion-segment-button>
  
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'poultry'">
      <ion-searchbar></ion-searchbar>


      <ion-card *ngFor="let note of (notes | async)">
        <ion-item>
          <ion-icon ios="ios-attach" md="md-attach"></ion-icon>
          <ion-label>{{note.title}}</ion-label>
          <ion-button fill="outline" slot="end" [routerLink]="'/view-note/'+note.id">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          {{note.content}}
        </ion-card-content>
      </ion-card>


      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="'/add-note'">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>


      
    </div>

    <div *ngSwitchCase="'stats'"></div>

    <div *ngSwitchCase="'calendar'"></div>

  </div>

</ion-content>
